{% extends 'layout.twig' %}

{% block content %}
	<h2>New Post</h2>
	<a class="btn btn-outline-secondary" href="{{ 'admin/posts' | url }}">Back</a>
	{% if errors %} <!-- Twig vefica si es un arreglo que no este vacío-->
		{% include('partials/errors.twig') %}
	{% endif %}
	{% if result %}
		<div class="alert alert-success mt-2">Post Saved!</div>
	{% endif %}

	<form method="post">
		<input type="hidden" name="postId" value="{{ blogPost.id }}">
		<div class="form-group">
			<label for="inputTitle">Title</label>
			<input class="form-control" type="text" name="title" id="inputTitle" value="{{ blogPost.title }}">
		</div>

		<div class="form-group">
			<label for="inputImg">Image</label>
			<input class="form-control" type="text" name="img" id="inputImg" value="{{ blogPost.img_url }}">
		</div>

		<textarea class="form-control" name="content" id="content" rows="5">{{ blogPost.content }}</textarea>
		<br>
		<input class="btn btn-primary" type="submit" value="Save">
	</form>
{% endblock %}
