{% extends 'layout.twig' %}

{% block content %}
	<h2>Posts</h2>
	<a class="btn btn-primary" href="{{ 'admin/posts/create' | url }}">New Post</a>
	<table class="table mt-3">
		<thead>
			<tr>
				<th>Title</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for blogPost in blogPosts %}
				<tr>
					<td>{{ blogPost.title }}</td>
					<td><a href="{{ 'admin/posts/edit/' | url }}{{ blogPost.id }}">Edit</a></td>
					<td><a href="{{ 'admin/posts/delete/' | url }}{{ blogPost.id }}">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>	
{% endblock %}